/* .form-control::placeholder {
    color: red ;
    opacity: 1;
    } */
input::placeholder {
  color: #1c4980 !important;
  opacity: 1;
  /* Firefox */
}

@media (max-width: 768) {
.mainfuc  {
  /* font-size: 10px; */
  width: 120px;
}
}